#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title{color: lightcoral;
    font-weight: bold;}
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card{
  /* padding: 1rem; */
  border: none;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
  overflow: hidden;
}
.recipe .card:hover{ border: 1px solid lightcoral;}
.searchcontainer{background-color: #e77b7b;}
#search{
  width: 40dvw;
  outline: none;
    border: 2px solid;
    border-color: #e3e0e0 !important;
}
.search-title{
  color: lightcoral;
    font-weight: bold;
}
.recipe-top{
    background-color: lightcoral;
    color: white;
    padding: 2em;
    border-radius: 2em;
    min-width: 50dvw;
}
.btn-view{    background-color: lightcoral;
    border-color: lightcoral;color: white;}
.btn-view:hover{background-color: lightcoral;
    border-color: lightcoral;
    color: white;
    font-weight: bold;}
@media (prefers-reduced-motion: no-preference) {
  
}


.read-the-docs {
  color: #888;
}
